.sidebar{
    border: 2px solid red;
    background-color: #fff;
    width: 15%;
    margin-top: 70px;
    height: 99.5vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.sidebar button{
    height: 40px;
    background-color: #fff;
}

/* .sidebar button:hover{
    border: 1px solid black;
} */