.user-reports-page{
    display: flex;     
}

.user-reports{
    border: 2px solid green;
    width: 85%;
    height: 99.5vh;
    margin: 70px 0 0;
    overflow-y: scroll;
}

.user-reports .cards{
    margin-bottom: 100px;
}

