nav{
    border-bottom: 2px solid red;
    height: 70px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav .nav-cta,
nav .buttons{
    display: flex;
    gap: 20px;
    padding: 5px;
}

nav .nav-cta button,
nav .buttons button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

section{
    margin: 50px 0;
    border: 2px solid red;
}

.hero-section{
    border: 2px solid red;
    height: 100vh;
    display: flex;
}

.hero-section .right,
.hero-section .left{
    border: 2px solid green;
}

.hero-section .left h1{
    margin-top: 20%;
    padding: 30px;
    font-size: 5rem;
}

.hero-section .left p{
    padding: 0 30px;
    font-size: 2rem;
}

.hero-section .left .buttons{
    display: flex; 
    gap: 30px;
    padding: 0 30px;
    margin: 80px 0;
}

.hero-section .left .buttons button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

.filter{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.filter button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.reports h1{
    text-align: center;
}

.reports button{
    width: 150px;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
}

.how-it-works{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.how-it-works h1{
    text-align: center;
}

.how-it-works .cards{
    display: flex;
}

.how-it-works .cards .card{
    border: 2px solid green;
    width: 300px;
    height: 100px;
}

.how-it-works .cards .card h2{
    text-align: center;
}

footer{
    border: 2px solid red;
    margin: 30px 0 0 ;
    display: flex;
    align-items: center;
    padding: 10px ;
    justify-content: space-between;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

